.button {
    background-color: #08132c;
    border: 2px solid #93c7e1;
    color: #ffffff;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    padding: 12px 32px 14px 32px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

.button:hover {
    background-color: #ffffff;
    color: #000000;
  }
