body {
    background-color: #ffffff;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
}

/* .toptitle{
    width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
} */

.navigation {
    width: 1000px;
    margin: 0 auto;

    /* border: 1.5px solid black; */

    padding-top: 50px;
    padding-bottom: 15px;
}

nav a {
    color: black;
    display: inline-block;
    margin: 0 4px;
    text-decoration: none;
}

nav a:first-child {
    margin: 0 4px 0 0;
}

main {
    margin: 0 5%;
}

.mainclass {
    width: 800px;
    margin: 0 auto;
}

.infoimg {
    margin: 0 auto;
    padding-top: 50px;
}

.content a {
    color: black;
    display: inline-block;

    text-decoration: none;
    border-color: #000000;
    border-radius: 5px;
    border: solid #08132c;
    background-color: #93c7e1;

    margin: 0 auto;
    width: auto;
    height: auto;
    text-align: center;

    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;

    font-size: 18px;
}

.floatbtt{
    float: right;
}


.btmsection img{
    max-height: 100px;
    
}

.randomCD{
    padding-top: 15px;
    padding-bottom: 15px;
}

.butsub{
    font-size: 12px;
}

.randomCDr{
    margin-top: 350px;

    border-radius: 5px;
    /* border: solid #08132c;
    background-color: #93c7e1; */
}

.outputCDName{
    font-weight: 750;
}

.btmsection{
    width: 800px;
    margin: 0 auto;
    padding-top: 150px;
    padding-bottom: 50px;
}
.btmsection img{
    height: 100px;
}